/* Полключаю шрифты */

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../fonts/MontserratLight.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/MontserratRegular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/MontserratMedium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/MontserratBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("../fonts/MontserratExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Georgia";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/GeorgiaItalic.woff") format("woff");
}

/* Полключаю шрифты */



/* Глобальные стили */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Глобальные стили */


/* Стили для header */

.header {
  width: 100%;
  height: 945px;
  position: relative;
  overflow: hidden;
  background-color: #e3ab3a;
  z-index: 0;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2172px;
  object-fit: cover;
  z-index: -1;
}

.header__info {
  display: flex;
  align-items: center;
  padding: 29px 0;
}

.logo {
  margin-right: 28px;
}

.info {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.35px;
  color: #ffffff;
}

.info__name {
  font-weight: 700;
}

.address {
  margin-left: auto;
  margin-right: 37px;
}

.address__phone {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

.schedule {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 50px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.schedule__info {
  font-weight: 700;
}

.header__intro {
  padding-top: 235px;
}

.header__title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin: 0;
  margin-bottom: 34px;
  text-align: center;
  padding: 0 50px;
}

.header__text {
  color: #ffffff;
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 24px;
  font-style: italic;
  letter-spacing: 0.6px;
  margin: 0;
  text-align: center;
  padding: 0 180px;
}

.header__scroll {
  padding-top: 165px;
  text-align: center;
}

.header__icon {
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes scroll {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -50%, 0);
  }
}

/* Стили для header */



/* Стили для adjustments */

.adjustments {
  padding-top: 87px;
  padding-bottom: 192px;
}

.adjustments__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 96px;
}

.adjustments__title span {
  color: #ed1b3b;
}

.adjustments__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.adjustments__video {
  width: 857px;
  height: 483px;
  background-color: #000000;
  position: relative;
}

.adjustments__video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.adjustments__form {
  width: 413px;
  height: 483px;
  border: 2px solid #ffc240;
  background-color: #ffffff;
  padding: 37px 29px 37px 30px;
}

.form__title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #252320;
  text-align: center;
  margin: 0;
  margin-bottom: 61px;
}

.form__title span {
  color: #ed1b3b;
}

.form__title p {
  font-family: "Georgia", "Arial", sans-serif;
  color: #8e8b87;
  margin: 0;
}

.adjustments__phone {
  width: 100%;
  height: 60px;
  border: 1px solid #d7d5cf;
  background-color: #ffffff;
  text-align: center;
  padding: 0 20px;
  color: #a4a39f;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 43px;
}

.adjustments__phone::placeholder {
  color: #a4a39f;
}

.adjustments__send {
  width: 100%;
  height: 60px;
  box-shadow: 0 0 30px rgba(255, 194, 64, 0.3);
  background-color: #ffc240;
  border: none;
  color: #252320;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding: 0;
  margin-bottom: 24px;
}

.adjustments__privacy {
  color: #8e8b87;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  margin: 0;
}

.adjustments__privacy a {
  color: #ed1b3b;
  text-decoration: none;
}

/* Стили для adjustments */



/* Стили для features */

.features {
  background-color: #f7f6f3;
  padding-top: 91px;
  padding-bottom: 161px;
}

.features__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
}

.features__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features__item {
  width: 192px;
}

.features__item .item {
  display: flex;
  flex-direction: column;
}

.features__logo {
  width: 192px;
  height: 192px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features__description {
  color: #252320;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.45px;
  margin: 0;
  text-align: center;
}

.features__item .top {
  margin-bottom: 45px;
}

.features__item--center {
  width: 100%;
}

.features__item--center img {
  display: block;
  margin: 0 auto;
}

/* Стили для features */
