/* Полключаю шрифты */

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../fonts/MontserratLight.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/MontserratRegular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/MontserratMedium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/MontserratBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("../fonts/MontserratExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Georgia";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/GeorgiaItalic.woff") format("woff");
}

/* Полключаю шрифты */



/* Глобальные стили */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Глобальные стили */


/* Стили для header */

.header {
  width: 100%;
  height: 945px;
  position: relative;
  overflow: hidden;
  background-color: #f4bb43;
  z-index: 0;
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2172px;
  object-fit: cover;
  z-index: -1;
}

.header__info {
  display: flex;
  align-items: center;
  padding: 29px 0;
}

.logo {
  margin-right: 28px;
}

.info {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.35px;
  color: #ffffff;
}

.info__name {
  font-weight: 700;
}

.address {
  margin-left: auto;
  margin-right: 37px;
}

.address__phone {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

.schedule {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 50px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.schedule__info {
  font-weight: 700;
}

.header__intro {
  padding-top: 235px;
}

.header__title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin: 0;
  margin-bottom: 34px;
  text-align: center;
  padding: 0 50px;
}

.header__text {
  color: #ffffff;
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 24px;
  font-style: italic;
  letter-spacing: 0.6px;
  margin: 0;
  text-align: center;
  padding: 0 180px;
}

.header__scroll {
  padding-top: 165px;
  text-align: center;
}

.header__icon {
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes scroll {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -50%, 0);
  }
}

/* Стили для header */



/* Стили для adjustments */

.adjustments {
  padding-top: 87px;
  padding-bottom: 192px;
}

.adjustments__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 96px;
}

.adjustments__title span {
  color: #ed1b3b;
}

.adjustments__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.adjustments__video {
  width: 857px;
  height: 483px;
  background-color: #000000;
  position: relative;
}

.adjustments__video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.adjustments__form {
  width: 413px;
  height: 483px;
  border: 2px solid #ffc240;
  background-color: #ffffff;
  padding: 37px 29px 37px 30px;
}

.form__title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #252320;
  text-align: center;
  margin: 0;
  margin-bottom: 61px;
}

.form__title span {
  color: #ed1b3b;
}

.form__title p {
  font-family: "Georgia", "Arial", sans-serif;
  color: #8e8b87;
  margin: 0;
}

.adjustments__phone {
  width: 100%;
  height: 60px;
  border: 1px solid #d7d5cf;
  background-color: #ffffff;
  text-align: center;
  padding: 0 20px;
  color: #a4a39f;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 43px;
}

.adjustments__phone::placeholder {
  color: #a4a39f;
}

.adjustments__send {
  width: 100%;
  height: 60px;
  box-shadow: 0 0 30px rgba(255, 194, 64, 0.3);
  background-color: #ffc240;
  border: none;
  color: #252320;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  padding: 0;
  margin-bottom: 24px;
}

.adjustments__privacy {
  color: #8e8b87;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  margin: 0;
}

.adjustments__privacy a {
  color: #ed1b3b;
  text-decoration: none;
}

/* Стили для adjustments */



/* Стили для features */

.features {
  background-color: #f7f6f3;
  padding-top: 91px;
  padding-bottom: 161px;
}

.features__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
}

.features__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features__item {
  width: 192px;
}

.features__item .item {
  display: flex;
  flex-direction: column;
}

.features__logo {
  width: 192px;
  height: 192px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features__description {
  color: #252320;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.45px;
  margin: 0;
  text-align: center;
}

.features__item .top {
  margin-bottom: 45px;
}

.features__item--center {
  width: 100%;
}

.features__item--center img {
  display: block;
  margin: 0 auto;
}

/* Стили для features */



/* Стили для customers */

.customers {
  padding-top: 91px;
  padding-bottom: 101px;
  background-image: url("../img/customers.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  min-height: 945px;
}

.customers__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 99px;
}

.customers__title span {
  color: #ed1b3b;
}

.customers__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.customers__item {
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 46px;
}

.customers__image {
  width: 192px;
  height: 192px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 29px;
}

.customers__image img {
  width: 100%;
  height: 100%;
  border: 10px solid #ffffff;
  border-radius: 50%;
  object-fit: cover;
}

.customers__text {
  color: #252320;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.45px;
  margin: 0;
  text-align: center;
  padding: 0;
}

/* Стили для customers */



/* Стили для cost */

.cost {
  padding-top: 89px;
  padding-bottom: 130px;
}

.cost__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 93px;
  padding: 0 100px;
}

.cost__title span {
  color: #ed1b3b;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 524px;
  height: 600px;
  border: 2px solid #ffc240;
  background-color: #ffffff;
  /* padding: 65px 80px; */
}

.card--one {
  margin-right: 15px;
  padding: 65px 80px;
}

.card--two {
  margin-left: 15px;
  padding: 0;
}

.card__title {
  color: #252320;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.card--two .card__title {
  padding: 65px 80px 0 65px;
}

.card__text {
  color: #ed1b3b;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  text-align: center;
  margin: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid #d7d5cf;
}

.card--two .card__text {
  margin: 0 80px;
}

.card__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 31px;
}

.card__list-item {
  color: #252320;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin-bottom: 10px;
  display: flex;
}

.card--two .card__list-item {
  padding: 0 80px;
}

.card__list-item:last-child {
  margin: 0;
}

.card__list-item::before {
  content: "";
  min-width: 10px;
  height: 10px;
  background-color: #ffc240;
  border-radius: 50%;
  margin-right: 18px;
}

.card__description {
  color: #252320;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.35px;
  padding: 20px 0;
  margin: 0;
  margin-bottom: 22px;
  background-color: #f7f6f3;
  padding: 20px 80px;
}

.card__description span {
  color: #ed1b3b;
}

.card__link {
  width: 100%;
  height: 60px;
  box-shadow: 0 0 30px rgba(255, 194, 64, 0.3);
  background-color: #ffc240;
  color: #252320;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.card--two .card__link {
  width: auto;
  margin: 0 80px;
}

.card--one .card__list {
  margin-bottom: 51px;
}

.card--two .card__list {
  margin-bottom: 21px;
}

.card--choice {
  background-image: url("../img/choice-icon.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

/* Стили для cost */



/* Стили для analysis */

.analysis {
  background-image: url("../img/analysis-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 400px;
  padding-top: 79px;
  padding-bottom: 91px;
}

.analysis__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.analysis__text {
  color: #252320;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.45px;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.analysis__form {
  display: flex;
  justify-content: center;
}

.analysis__phone {
  width: 350px;
  height: 60px;
  border: 1px solid #eab13a;
  background-color: #ffffff;
  color: #a4a39f;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  padding: 0 20px;
  margin-right: 34px;
}

.address__phone::placeholder {
  color: #a4a39f;
}

.analysis__send {
  width: 350px;
  height: 60px;
  box-shadow: 0 0 30px rgba(237, 27, 59, 0.3);
  background-color: #ed1b3b;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  border: none;
  margin-left: 34px;
}

/* Стили для analysis */



/* Стили для specialists */

.specialists {
  padding-top: 91px;
  padding-bottom: 86px;
}

.specialists__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 114px;
}

.specialists__title span {
  color: #ed1b3b;
}

.specialists__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.specialists__item {
  width: 302px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialists__image {
  width: 192px;
  height: 192px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.specialists__image img {
  width: 100%;
  height: 100%;
  border: 10px solid #ffffff;
  border-radius: 50%;
  object-fit: cover;
}

.specialists__name {
  font-size: 18px;
  color: #252320;
  font-weight: 700;
  letter-spacing: 0.45px;
}

.specialists__description {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 18px;
  color: #8e8b87;
  font-weight: 700;
  letter-spacing: 0.45px;
  text-align: center;
  margin: 0;
  margin-bottom: 45px;
}

.specialists__call {
  width: 100%;
  height: 60px;
  box-shadow: 0 0 30px rgba(255, 194, 64, 0.3);
  background-color: #ffc240;
  color: #252320;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* Стили для specialists */



/* Стили для reviews */

.reviews {
  padding-top: 74px;
  padding-bottom: 101px;
  background-color: #f7f6f3;
}

.reviews__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 96px;
}

.reviews__info {
  display: flex;
  justify-content: space-between;
}

.reviews__video {
  width: 746px;
  height: 420px;
  background-color: #000000;
  margin-right: 15px;
  position: relative;
}

.reviews__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reviews__text {
  width: 516px;
  margin-left: 15px;
}

.reviews__text p {
  color: #252320;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 0;
}

/* Стили для reviews */



/* Стили для warranty */

.warranty {
  padding-top: 88px;
  padding-bottom: 91px;
}

.warranty__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 94px;
}

.warranty__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.warranty__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 413px;
}

.warranty__image {
  width: 100%;
  height: 274px;
  margin-bottom: 30px;
}

.warranty__text {
  color: #252320;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.45px;
  text-align: center;
  margin: 0;
}

/* Стили для warranty */



/* Стили для questions */

.questions {
  background: #f7f6f3 url("../img/questions-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 74px;
  padding-bottom: 45px;
}

.questions__title {
  color: #252320;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.questions__description {
  color: #8e8b87;
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.45px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 39px;
}

.questions__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions__phone {
  color: #a4a39f;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  width: 350px;
  height: 60px;
  border: 1px solid #d7d5cf;
  background-color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  padding: 0 20px;
}

.questions__phone::placeholder {
  color: #a4a39f;
}

.questions__text {
  color: #a4a39f;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin: 0;
  width: 350px;
  height: 200px;
  border: 1px solid #d7d5cf;
  background-color: #ffffff;
  resize: none;
  margin-bottom: 63px;
  padding: 20px;
}

.questions__text::placeholder {
  color: #a4a39f;
}

.questions__send {
  color: #252320;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  border: none;
  width: 350px;
  height: 60px;
  box-shadow: 0 0 30px rgba(255, 194, 64, 0.3);
  background-color: #ffc240;
  margin-bottom: 47px;
  padding: 0;
}

.questions__privacy {
  color: #8e8b87;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  margin: 0;
}

.questions__privacy span {
  color: #ed1b3b;
}

/* Стили для questions */



/* Стили для footer */

.footer {
  padding: 45px 0;
}

.footer__text {
  color: #8e8b87;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  margin: 0;
}

/* Стили для footer */
